<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cars</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>A page of images of cars using Express</h3>
    <img src="images/bettle.jpeg" alt="car">
    <img src="images/cruise.jpeg" alt="car">
    <img src="images/gullwing.jpg" alt="car">
</body>
</html>