<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cars</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>A page of images of cars using Express</h3>
    <img src="images/scary.jpeg" alt="cat">
    <img src="images/garfield.jpeg" alt="cat">
    <img src="images/tiger.jpeg" alt="cat">
</body>
</html>